body {
    background-color: black;
    padding: 23px 50px;
}

.main-flex {
    
    display: flex;
    height: 700px;
    flex-direction: column;

}

.top-row {
    
    display: flex;
    flex-direction: row;
    flex: 2;
    padding-bottom: 17px;

}

.bottom-row {

    display: flex;
    flex-direction: row;
    flex: 1;

}

.top-1 {
    
    border-top-left-radius: 17px;
    flex: 1;
    margin-right: 17px;
    background-color: rgb(242, 45, 85);
    
}

.top-1-icon {
    height: 70px;
}

.top-2 {
    
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-right: 17px;

}

.top-2-top {

    flex: 1;
    margin-bottom: 17px;
    background-color: rgb(250, 225, 215);
    
    font-family: Caveat;
    font-size: 50px;
    color: black;
}

.top-2-bottom {

    flex: 2;
    background-color: rgb(35, 25, 30);

    font-family: Playwrite CU;
    font-size: 50px;
    color: white;

    text-shadow: 0px 0px 50px white;
}

.top-3 {

    flex: 1;
    background-color: rgb(185, 180, 254);
    border-top-right-radius: 17px;
}

.top-3-icon {
    height: 70px;
}

.bottom-1 {

    flex: 2;
    background-color: rgb(165, 250, 170);
    margin-right: 17px;
    border-bottom-left-radius: 17px;

    font-family: Lobster;
    font-size: 70px;
}

.bottom-2 {

    flex: 1;
    background-color: rgb(250, 225, 215);
    border-bottom-right-radius: 17px;

    font-family: Shadows Into Light;
    font-size: 50px;
    font-weight: bold;
}

.top-1, .top-2-top, .top-2-bottom, .top-3, .bottom-1, .bottom-2 {
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
